*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  line-height: 1;
}

h1 {
  font-size: 3.157rem;
  margin: 1.5rem 0;
}

h2 {
  font-size: 2.369rem;
  margin: 1.3rem 0;
}

p {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2.9rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.1rem;
  }
}

/* Icons */
.icon {
  width: 64px;
  height: 64px;
}

.icon--small {
  width: 25px;
  height: 25px;
}

/* Icon Fonts */
.fa-brand {
  align-items: center;
  border-radius: 100%;
  border: 1px solid #ccc;
  display: inline-flex;
  font-size: 1.8rem;
  height: 35px;
  justify-content: center;
  width: 35px;
}

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  display: inline-flex;
  align-items: center;
  padding: 1px 0;
  border-bottom: 2px solid hsl(176 68% 64%);
  transition: border 0.3s;
  font-size: 1.6rem;
}

.link-arrow a {
  color: hsl(176 68% 64%);
}

.link-arrow__icon {
  margin-left: 5px;
  transition: margin 0.3s;
}

.link-arrow:hover {
  border-bottom: 2px solid #fff;
}

.link-arrow:hover .link-arrow__icon {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.3rem;
  }
}
