*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  line-height: 1;
}

h1 {
  font-size: 3.157rem;
  margin: 1.5rem 0;
}

h2 {
  font-size: 2.369rem;
  margin: 1.3rem 0;
}

p {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2.9rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.1rem;
  }
}

/* Icons */
.icon {
  width: 64px;
  height: 64px;
}

.icon--small {
  width: 25px;
  height: 25px;
}

.icon--large {
  width: 100px;
}

/* Icon Fonts */
.fa-brand {
  align-items: center;
  border-radius: 100%;
  border: 1px solid #ccc;
  display: inline-flex;
  font-size: 1.8rem;
  height: 35px;
  justify-content: center;
  width: 35px;
}

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  display: inline-flex;
  align-items: center;
  padding: 1px 0;
  border-bottom: 2px solid hsl(176 68% 64%);
  transition: border 0.3s;
  font-size: 1.6rem;
}

.link-arrow a {
  color: hsl(176 68% 64%);
}

.link-arrow__icon {
  margin-left: 5px;
  transition: margin 0.3s;
}

.link-arrow:hover {
  border-bottom: 2px solid #fff;
}

.link-arrow:hover .link-arrow__icon {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.3rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

/* Buttons */
.btn {
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  font-weight: 700;
  margin: 1rem 0;
  outline: 0;
  padding: 1.2rem 3rem;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
}

.btn--primary {
  background: linear-gradient(to right, hsl(176 68% 40%), hsl(198, 60%, 62%));
  color: #fff;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn--stretched {
  padding: 1rem 4.5rem;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.2rem;
  }
}

/* Inputs */
.input {
  padding: 1.2rem 3rem;
  border: 0;
  outline: 0;
  border-radius: 40px;
}

::placeholder {
  font-size: 1.2rem;
  opacity: 0.5;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.2rem;
  }
}

/* Media */
.media {
  display: flex;
  align-items: center;
}

.media__image {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.media__content {
  margin-left: 1rem;
}

.media__username {
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .media {
    font-size: 1.2rem;
  }
}

/* Blocks */
.block {
  padding: 4rem 2rem;
}

.block h1,
.block h2,
.block h3 {
  margin-top: 0;
}

.block__header {
  text-align: center;
}

.block--dark {
  background: hsl(216 53% 9%);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 1024px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Callouts */
.callout {
  background: hsl(217 28% 15%);
  color: #fff;
  padding: 3rem;
  border-radius: 10px;
  max-width: 750px;
  margin: 0 auto;
}

.callout__header {
  text-align: center;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .callout__content {
    grid-template-columns: 1fr auto;
  }

  .callout__input {
    align-self: center;
  }

  .callout__button {
    justify-self: start;
    align-self: center;
    margin-left: 1rem;
  }
}

/* Navigation Bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__icon {
  margin-left: 2rem;
}

.nav__item {
  display: inline-block;
  margin-right: 2rem;
}

.nav__item > a {
  color: #c2cbcc;
  transition: all 0.3s;
}

.nav__item > a:hover {
  color: #fff;
  text-decoration: underline;
}

@media screen and (min-width: 1024px) {
  .nav {
    font-size: 1.2rem;
  }
}

/* Features Block */
.feature {
  max-width: 800px;
  column-gap: 5rem;
}
