<div class="callout">
  <div class="callout__header">
    <h2>Get early access today</h2>
    <p>
      It only takes a minute to sign up and our free starter tier is extremely
      generous. If you have any questions, our support team would be happy to
      help you.
    </p>
  </div>
  <div class="grid grid--1x2 callout__content">
    <input
      class="input callout__input"
      type="text"
      required
      placeholder="example@gmail.com"
    />
    <button class="btn btn--primary callout__button">
      get started for free
    </button>
  </div>
</div>
