<div class="container grid grid--1x2 feature">
  <div class="block">
    <div class="block__header">
      <svg class="icon">
        <use href="images/sprite.svg#icon-access-anywhere"></use>
      </svg>
      <div class="features__content">
        <h2>Access your files, anywhere</h2>
        <p>
          The ability to use a smartphone, tablet, or computer to access your
          account means your files follow you everywhere.
        </p>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="block__header">
      <svg class="icon">
        <use href="images/sprite.svg#icon-security"></use>
      </svg>
      <div class="features__content">
        <h2>Security you can trust</h2>
        <p>
          2-factor authentication and user-controlled encryption are just a
          couple of the security features we allow to help secure your files.
        </p>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="block__header">
      <svg class="icon">
        <use href="images/sprite.svg#icon-collaboration"></use>
      </svg>
      <div class="features__content">
        <h2>Real-time collaboration</h2>
        <p>
          Securely share files and folders with friends, family and colleagues
          for live collaboration. No email attachments required.
        </p>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="block__header">
      <svg class="icon">
        <use href="images/sprite.svg#icon-any-file"></use>
      </svg>
      <div class="features__content">
        <h2>Store any type of file</h2>
        <p>
          Whether you're sharing holidays photos or work documents, Fylo has you
          covered allowing for all file types to be securely stored and shared.
        </p>
      </div>
    </div>
  </div>
</div>
