<section class="block container showcase">
  <div class="grid grid--1x2">
    <img
      src="images/illustration-stay-productive.png"
      alt=""
      class="showcase__image"
    />
    <div class="showcase__content">
      <h2 class="showcase__heading">Stay productive, wherever you are</h2>
      <p>
        Never let location be an issue when accessing your files. Fylo has you
        covered for all of your file storage needs.
      </p>
      <p>
        Securely share files and folders with friends, family and colleagues for
        live collaboration. No email attachments required.
      </p>
      <div class="link-arrow">
        <a href="#">See how Fylo works </a>
        <svg class="icon icon--small link-arrow__icon">
          <use href="images/sprite.svg#icon-arrow"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
