<div class="block container testimonial-container">
  <div class="grid grid--1x3">
    <img
      class="testimonial-container__quote"
      src="images/bg-quotes.png"
      alt=""
    />
    <div class="testimonial">
      <div class="testimonial__header">
        <p>
          Fylo has improved our team productivity by an order of magnitude.
          Since making the switch our team has become a well-oiled collaboration
          machine.
        </p>
      </div>
      <div class="media testimonial__media">
        <img class="media__image" src="images/profile-1.jpg" alt="" />
        <div class="media__content">
          <p class="media__username">Satish Patel</p>
          <p>Founder & CEO, Huddle</p>
        </div>
      </div>
    </div>
    <div class="testimonial">
      <div class="testimonial__header">
        <p>
          Fylo has improved our team productivity by an order of magnitude.
          Since making the switch our team has become a well-oiled collaboration
          machine.
        </p>
      </div>
      <div class="media testimonial__media">
        <img class="media__image" src="images/profile-2.jpg" alt="" />
        <div class="media__content">
          <p class="media__username">Bruce McKenzie</p>
          <p>Founder & CEO, Huddle</p>
        </div>
      </div>
    </div>
    <div class="testimonial">
      <div class="testimonial__header">
        <p>
          Fylo has improved our team productivity by an order of magnitude.
          Since making the switch our team has become a well-oiled collaboration
          machine.
        </p>
      </div>
      <div class="media testimonial__media">
        <img class="media__image" src="images/profile-3.jpg" alt="" />
        <div class="media__content">
          <p class="media__username">Iva Boyd</p>
          <p>Founder & CEO, Huddle</p>
        </div>
      </div>
    </div>
  </div>
</div>
